.app {
    height: 100vh;
    color: #000
}

.content {
    max-width: 1000px;
    background: #fff;
    margin: 0 auto;
    padding: 5rem 0;
}

.search-panel {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius:4px;
    background: #f0f0f0;
    box-shadow: 15px 5px 30px rgba(0,0,0,0.15);
}

